@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@{
    var items= ViewBag.list;
}
@if (items != null)
{
    foreach (string s in items)
    {
        <h1>@s</h1>
    }
}

<p>Use this area to provide additional information.</p>
