@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Find the right exam for you</h1>
    <p class="lead">Learn languages with us. It's free and it gives you an oportunity to not be a retard anymore.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Learning mode</h2>
        <p>
            Don't know Polish/English? Just learn it in a very fast way!
        </p>
        <p>
            <a class="btn btn-success col-md-12" href="http://go.microsoft.com/fwlink/?LinkId=301865">Begin test &raquo;</a>
        </p>
    </div>
    <div class="col-md-6">
        <h2>Test mode</h2>
        <p>Test your mad skills.</p>
        <p>
            <a class="btn btn-success col-md-12" href="http://go.microsoft.com/fwlink/?LinkId=301866">Begin test &raquo;</a>
        </p>
    </div>
</div>