


<h2 style="text-align: center">Select Mode</h2>
<div style="width: 400px; margin: 0 auto">
    
    <div>@Html.ActionLink("Suit Polish words to English equivalent.","ConfirmSelectLanguage","Words",new {language = "pl"}, new {@class = "btn btn-default btn-block"})</div>
    <div>@Html.ActionLink("Suit English words to Polish equivalent.", "ConfirmSelectLanguage", "Words",new {language = "eng"}, new { @class = "btn btn-default btn-block" })</div> 
                
</div>


