@using ZTPwords.Logic.State
@{
    ViewBag.Title = "Select Difficulty";
}

<h2 style="text-align: center">Select difficulty of this quiz:</h2>
<div style="width: 400px; margin: 0 auto">
    <div>@Html.ActionLink("Easy", "ConfirmDifficulty", "Words", new { difficulty = "easy" }, new { @class = "btn btn-success btn-block" })</div>
    <div>@Html.ActionLink("Medium", "ConfirmDifficulty", "Words", new { difficulty = "medium" }, new { @class = "btn btn-warning btn-block" })</div>
    <div>@Html.ActionLink("Hard", "ConfirmDifficulty", "Words", new { difficulty = "hard" }, new { @class = "btn btn-danger btn-block" })</div>
</div>
